@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
:root{
    --fuente-principal:'Koulen', cursive;
    --principal: rgb(0,0,0);
    --secundario: rgba(101,180,194,0.972);
    --texto: rgba(240,251,252,0.801);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuente-principal);
}
.fondo-principal{
    background: var(--principal);
}
.fondo-secundario{
    background: var(--secundario);
}
.texto-texto{
    color: var(--texto);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: scroll;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.col-2,.col-3,.col-4{
    padding: 10px;
}
.col-2{
    flex: 1 0 calc(50% - 10px);
}
.col-3{
    flex: 1 0 calc(50% - 10px);
}
.col-4{
    flex: 1 0 calc(50% - 10px);
}
.card{
    width: 92%;
    height: 92%;
    border-radius: .5rem;
    border: solid .5px var(--texto);
}
.logo{
    font-size: 30px;
    color: var(--secundario);
}